---
import AppLoader from "../components/molecules/AppLoader.astro";
import Hero from "../components/organisms/Hero.astro";
import About from "../components/organisms/About.astro";
import Experience from "../components/organisms/Experience.astro";
import Skills from "../components/organisms/Skills.astro";
import Projects from "../components/organisms/Projects.astro";
import Contact from "../components/organisms/Contact.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Portfolio">
  <AppLoader />
  <div id="portfolio-content" class="portfolio-content">
    <Hero />
    <About />
    <Experience />
    <Skills />
    <Projects />
    <Contact />
  </div>
</Layout>
