---
import '../styles/global.css';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Aluron Core</title>
  </head>
  <body>
    <p>Hola Mundo</p>
  </body>
</html>
