---
---

<a class="nav-logo" href="#hero">
  Aluron<span class="nav-logo-highlight">Dev</span>
</a>

<style>
  .nav-logo {
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--text-color-base);
    text-decoration: none;
  }

  :global(body.dark) .nav-logo {
    color: var(--text-color-base--dark-alt);
  }

  .nav-logo-highlight {
    font-weight: 900;
    text-decoration: underline;
    text-decoration-color: #88ccca;
    text-underline-offset: 3px;
  }
</style>
